@font-face {
   font-family: 'SHOWG';
   font-display: swap;
   src: url('file:///C:/Users/Jeffrey%20G.%20Mabborang/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-08_215938/fonts/SHOWG/font.TTF');
}
